*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
  }
body{
    background-color: #FED049;
    background-image: url(/multimedia/fondo\ figma.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

a{
    text-decoration: none;
    color: #282846;
}
header{
    
    padding: 30px;
    background-color: #FFC51C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo{
    align-items: center;
    display: flex;
    font-size: 36px;
    
    
    
}

.logo img{
    margin-right: 10px;
    height: 50px;
    width: 50px;
}

.nav-link{
    margin-left: 30px;
    font-size: 36px;
    font-weight: 700;
}

